version: '3.8'

services:
  database:
    image: mysql:latest
    hostname: database
    environment:
      MYSQL_DATABASE: "spring-webflux"
      MYSQL_PASSWORD: "root"
      MYSQL_ROOT_PASSWORD: "password"
    ports:
      - "3306:3306"
    volumes:
      - database:/var/lib/mysql

volumes:
  database: